<%= form_with(model: visitors_zone_acce) do |form| %>
  <% if visitors_zone_acce.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visitors_zone_acce.errors.count, "error") %> prohibited this visitors_zone_acce from being saved:</h2>

      <ul>
        <% visitors_zone_acce.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :zone_id, style: "display: block" %>
    <%= form.text_field :zone_id %>
  </div>
  
  <div>
    <%= form.label :visitor_id, style: "display: block" %>
    <%= form.text_field :visitor_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
