<p style="color: green"><%= notice %></p>

<%= render @visitors_zone_acce %>

<div>
  <%= link_to "Edit this visitors zone acce", edit_visitors_zone_acce_path(@visitors_zone_acce) %> |
  <%= link_to "Back to visitors", visitors_path %>

  <%= button_to "Destroy this visitors zone acce", @visitors_zone_acce, method: :delete %>
</div>
