<%= form_with(model: visitor) do |form| %>
  <% if visitor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
        <% visitor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :identity_card_type, style: "display: block" %>
    <%= form.text_field :identity_card_type %>
  </div>



  <div class="visually-hidden">
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.text_field :customer_id, value: session[:current_customer] %>
  </div>



  <div>
    <%= form.label :identity_card_number, style: "display: block" %>
    <%= form.number_field :identity_card_number %>
  </div>

  <div>
    <%= form.label :expires, style: "display: block" %>
    <%= form.date_field :expires %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
