<p style="color: green">
  <%= notice %>
</p>
<h1>Active Visitors</h1>
<br>
    <table class="table table-striped table-hover table-borderless"> 
          <thead class="table-dark">
            <tr>
              <th scope="col" style="width: 13%"><strong>Name:</strong></th>
              <th scope="col" style="width: 22%"><strong>Email:</strong></th>
              <th scope="col" style="width: 10%"><strong>Phone:</strong></th>
              <th scope="col" style="width: 8%"><strong>Expires:</strong></th>
              <th scope="col" style="width: 22%"><strong>Accessible zones:</strong></th>
              <th scope="col" style="width: 15%"></th>
              <th colspan="3" style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>
            <% @visitors.each do |visitor| %>
            <tr>
              <td style="width: 13%"> <p> <%= visitor.name %> </p> </td>
              <td style="width: 22%"> <p> <%= visitor.email %> </p> </td>
              <td style="width: 10%"> <p> <%= visitor.phone %> </p> </td>
              <td style="width: 8%"> <p> <%= visitor.expires %> </p> </td>
              <td style="width: 22%"> <p> <%= visitor.visitorsZoneAcce.map { |i| i.zone.name }.join (", ")  %> </p> </td>
              <td style="width: 15%"> <%= link_to "Show this visitor", visitor, class:"btn btn-outline-dark" %> </td>
              <td style="width: 10%"> <%= link_to "Add Zone", new_visitors_zone_acce_path, class:"btn btn-outline-dark" %> </td>
            </tr>
            <% end %>
          </tbody>
      </table>
    <br>
  <br>
<%= link_to "New visitor", new_visitor_path, class:"btn btn-secondary" %>
<br>
