%p{:style => "color: green"}= notice
%h1 Visitors
#visitors
  - @visitors.each do |visitor|
    = render visitor
    %p
      = link_to "Visitors acces for this Zone", new_visitors_zone_acce_path
      %br/
      = link_to "Show this visitor", visitor
= link_to "New visitor", new_visitor_path