<p style="color: green"><%= notice %></p>

<%= render @visitor %>

<div>
  <%= link_to "Edit this visitor", edit_visitor_path(@visitor), class:"btn btn-secondary" %> 
  <%= link_to "Back to visitors", visitors_path, class:"btn btn-dark" %>
  <br>
  <br>
  <%= button_to "Destroy this visitor", @visitor, method: :delete, class:"btn btn-danger" %>
</div>
