
<h1 style="text-align: center;" >USERS</h1>
<br>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>User_id</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.phone %>
        </td>
         <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= link_to 'Show', user, class:"btn btn-secondary" %>
        </td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), class:"btn btn-secondary" %>
        </td>
        <td>
          <%= button_to 'Destroy', user, class:"btn btn-secondary", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New', new_user_path, class:"btn btn-dark" %>
