<p style="color: green"><%= notice %></p>

<%= render @customers_zone_acce %>

<div>
  <%= link_to "Edit this customers zone acce", edit_customers_zone_acce_path(@customers_zone_acce) %> |
  <%= link_to "Back to zones", zones_path %>
    <br>
    <br>
  <%= button_to "Destroy this customers zone acce", @customers_zone_acce, method: :delete %>
</div>
