<p style="color: green"><%= notice %></p>

<%= render @customers_zone_acce %>

<div>
  <%= link_to "Edit", edit_customers_zone_acce_path(@customers_zone_acce) %> |
  <%= link_to "Back", zones_path %>
    <br>
    <br>
  <%= button_to "Destroy", @customers_zone_acce, method: :delete %>
</div>
